centerimg(class, w, h)
  .{class}_{w}_{h}
    width: w;
    height h;
    a,
    div
      width : w;
      height: h;
      line-height: h;

    span //dummy spring
      line-height: h;
    img
      max-width: w;
      max-height : h;
      line-height: h;
  .{class}
    a,
    div
      display:block;
      vertical-align:middle;
      text-align:center;
      text-decoration:none;
      font-size: 0;

    img
      vertical-align:middle;

    span //dummy spring
      display:inline-block;
      font-size:0;
      width:1px;
      margin-left:-1px;
      overflow:hidden;
      vertical-align:middle;

centerimg("centerimg", 100px,100px)
