html
  head
    link(rel="stylesheet" type="text/css" href="../css/stylus/base.css")
  body
    div
      a.raw.centerimg(href="hoge")
        span
        img(src="http://lohas.nicoseiga.jp/thumb/3427780z")
    div.raw
      img(src="http://lohas.nicoseiga.jp/thumb/mg_thumb/3901980q")


    div.with_link
      div.centerimg
        div
          img(src="http://lohas.nicoseiga.jp/thumb/3427780z")
